<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <header>
      <div class="logo">BSM Community</div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li>
            <a href="/" class="active">Home</a>
          </li>
          <li>
            <a href="/search">Search</a>
          </li>
          <li>
            <a href="/introduction">Introduction</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <div style="text-align: center; margin-top: 30px">
      <img src="../static/BSSM_LOGO.jpg" alt="BSM Logo" />
    </div>
    <div style="text-align: center; margin-top: 10px">
      <p>
        부산소프트웨어마이스터고 2023 신입생이 심심해서 만든 커뮤니티 입니다.
      </p>
      <p>Flask + sqlite를 이용해서 구현했습니다</p>
      <p>2022 - 11 - 27</p>
      <br />
      <p>
        Github :
        <a href="https://github.com/J1W0N-1209"
          >https://github.com/J1W0N-1209</a
        >
      </p>
    </div>
  </body>
</html>
